/.data
/deploy
/ViewController/classes
/ViewController/deploy
/ViewController/servers
/ViewController/public_html/WEB-INF/temp
/ViewController/public_html/META-INF/.WL_internal
/Model/classes
/Model/deploy
/Model/servers
